@media (min-width:1601px){
    /* layout */
header{position:fixed;left:0;top:0;width:15%;height:100%;}
.top{width:85%;margin-left:15%;}
.contents{width:85%;margin-left:15%;}

/* header */
header .logo{
    text-align: center;
    margin-top:60px;
    margin-bottom:100px;
}
.gnb{width:60%;margin:0 auto;font-size:1.5rem;font-weight:bold;margin-bottom:300px;}
.gnb > li{margin-bottom:16px;}
.gnb > li:hover{color:skyblue;}
.gnb > li:last-of-type{margin-bottom:0;}
.gnb > li i{margin-right:10px;}
.snsLink{position:absolute;bottom:30px;left:50%;width:100px;margin-left:-50px;}
.snsLink:after{content:"";display:block;clear:both;}
.snsLink > li{float:left;}


/* top */
.top{background:#212121;padding:6px 0;}
.topMenu{}
.topMenu > li{float:left;}
.topMenu > li:nth-of-type(3){float:right;}
.topMenu > li:nth-of-type(4){float:right;}
.topMenu:after{content:"";display:block;clear:both;}

/* contents */
.contents{}
.contents ul{}
.contents ul > li{
    width:20%;height:260px;
    float:left;
    position:relative;
    transition:all 0.5s ease 0s;
    overflow: hidden;
    animation:myscale 0.8s ease 0s 1;
}
.contents ul:after{content:"";display:block;clear:both;}
.contents ul > li:nth-of-type(1){
    width:60%;height:520px;
    position:relative;
    background:url("../img/pic1.jpg") no-repeat 50% 50%;
    background-size:cover;
}
/* arrow-ani */
.contents ul li.arrow:hover{background:skyblue;color:#fff;}
.contents ul li.arrow i{
    font-size:15rem;
    position:absolute;
    right:0;bottom:-60px;
    transform:translateX(100%);
    transition:all 0.5s ease 0s;
    color:#ddd;
}
.contents ul li.arrow:hover i{transform:translateX(0%);}

#myRotate{
    position:absolute;
    right:-30px;bottom:-30px;
    font-size:15rem;
    color:#fff;
    animation:myrotate 3s linear 0s infinite;
}
.contents ul > li:nth-of-type(3){background:#bff7fa;}
.contents ul > li:nth-of-type(4){background:url("../img/pic2.jpg")no-repeat 50% 50% /cover;}
.contents ul > li:nth-of-type(5){background:url("../img/pic3.jpg")no-repeat 50% 50% /cover;}
.contents ul > li:nth-of-type(7){background:url("../img/pic4.jpg")no-repeat 50% 50% /cover;}
.contents ul > li:nth-of-type(9){background:url("../img/pic5.jpg")no-repeat 50% 50% /cover;}
.contents ul > li:nth-of-type(10){background:url("../img/pic6.jpg")no-repeat 50% 50% /cover;}
.contents ul > li:nth-of-type(12){background:url("../img/pic7.jpg")no-repeat 50% 50% /cover;}
.contents ul > li h2{
    position:absolute;
    right:0;bottom:-30px;
    font-size:12rem;
    text-transform:capitalize;
    color:#fff;
    transition:all 0.6s ease 0s;
}
.contents ul > li:nth-of-type(1):hover h2{color:#000;transform:rotateY(180deg);}
.contents .wide{width:40%;}
.txtbox{margin-top:30px;margin-left:20px;width:70%;}
.txtbox h3{font-size:2.2rem;margin-bottom:8px;}
.txtbox p{font-size:1.3rem;}
.contents ul > li > h3{
    font-size:5rem;
    text-transform:capitalize;
    position:absolute;right:12px;bottom:12px;
    color:#fff;
}
.contents ul li.fadeIn > h3{
    transform:scale(6);
    opacity:0;
    transition:all 0.5s ease 0s;
}
.contents ul li.fadeIn:hover h3{
    transform:scale(1);
    opacity:1;
}
}
